.u-section-1 {
    background-image: url("../images/Colors-01.png");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }
  
  .u-section-1 .u-text-1 {
    font-family: "Public Sans";
    font-weight: 700;
    line-height: 1.4;
    font-size: 3rem;
    margin: 497px 670px 60px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 {
      min-height: 100vh;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 633px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 470px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 485px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 250px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 364px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 70px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 229px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 0;
      font-size: 2.25rem;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 799px;
  }
  
  .u-section-2 .u-text-1 {
    font-family: "Public Sans";
    font-size: 1.125rem;
    font-weight: 800;
    text-decoration: none solid rgb(20, 133, 173);
    line-height: 18px;
    margin: 199px 904px 0 120px;
  }
  
  .u-section-2 .u-line-1 {
    width: 65px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 4px auto 0 120px;
  }
  
  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    font-family: "Public Sans";
    line-height: 1.8;
    font-weight: 300;
    width: 900px;
    margin: 20px auto 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-text-1 {
      margin-right: 804px;
      margin-left: 20px;
    }
  
    .u-section-2 .u-line-1 {
      margin-left: 20px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-text-1 {
      margin-right: 604px;
      margin-left: 0;
    }
  
    .u-section-2 .u-line-1 {
      margin-left: 0;
    }
  
    .u-section-2 .u-text-2 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-text-1 {
      margin-top: 60px;
      margin-right: 424px;
    }
  
    .u-section-2 .u-text-2 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-text-1 {
      margin-right: 224px;
    }
  
    .u-section-2 .u-text-2 {
      width: 340px;
    }
  }.u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 1686px;
  }
  
  .u-section-3 .u-text-1 {
    margin: 85px 675px 0 120px;
  }
  
  .u-section-3 .u-line-1 {
    width: 194px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 6px auto 0 120px;
  }
  
  .u-section-3 .u-text-2 {
    margin: 35px 826px 0 120px;
  }
  
  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    width: 900px;
    margin: 20px auto 0;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    width: 900px;
    margin: 44px auto 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 448px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 0 20px 30px 0;
  }
  
  .u-section-3 .u-text-4 {
    margin: 30px 258px 0 0;
  }
  
  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
    margin: 35px 30px 0 0;
  }
  
  .u-section-3 .u-text-6 {
    margin: 50px 30px 0 0;
  }
  
  .u-section-3 .u-text-7 {
    font-size: 1.125rem;
    margin: 35px 30px 0 0;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 448px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px 50px 10px 0;
  }
  
  .u-section-3 .u-text-8 {
    margin: 0 242px 0 0;
  }
  
  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
    margin: 30px 0 0;
  }
  
  .u-section-3 .u-text-10 {
    margin: 55px 0 0;
  }
  
  .u-section-3 .u-text-11 {
    font-size: 1.125rem;
    margin: 35px 0 0;
  }
  
  .u-section-3 .u-text-12 {
    margin: 199px 544px 0 120px;
  }
  
  .u-section-3 .u-line-2 {
    width: 260px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 6px auto 0 120px;
  }
  
  .u-section-3 .u-text-13 {
    font-size: 1.25rem;
    margin: 26px 120px 0;
  }
  
  .u-section-3 .u-line-3 {
    height: 2px;
    transform-origin: left center 0px;
    width: 1000px;
    margin: -484px auto 0 70px;
  }
  
  .u-section-3 .u-line-4 {
    height: 2px;
    transform-origin: left center 0px;
    width: 1000px;
    margin: 199px auto 0 70px;
  }
  
  .u-section-3 .u-line-5 {
    height: 2px;
    transform-origin: left center 0px;
    width: 1000px;
    margin: 163px auto 60px 70px;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-text-1 {
      margin-right: 575px;
      margin-left: 20px;
    }
  
    .u-section-3 .u-line-1 {
      margin-left: 20px;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 726px;
      margin-left: 20px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      position: relative;
    }
  
    .u-section-3 .u-text-12 {
      margin-right: 444px;
      margin-left: 20px;
    }
  
    .u-section-3 .u-line-2 {
      margin-left: 20px;
    }
  
    .u-section-3 .u-text-13 {
      margin-left: 20px;
      margin-right: 20px;
      width: 900px;
    }
  
    .u-section-3 .u-line-3 {
      width: 940px;
      margin-left: 0;
    }
  
    .u-section-3 .u-line-4 {
      width: 940px;
      margin-left: 0;
    }
  
    .u-section-3 .u-line-5 {
      width: 940px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1879px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 375px;
      margin-left: 0;
    }
  
    .u-section-3 .u-line-1 {
      margin-left: 0;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 526px;
      margin-left: 0;
    }
  
    .u-section-3 .u-text-3 {
      width: 720px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-3 .u-text-4 {
      margin-right: 168px;
    }
  
    .u-section-3 .u-text-5 {
      margin-right: 0;
    }
  
    .u-section-3 .u-text-6 {
      margin-right: 0;
    }
  
    .u-section-3 .u-text-7 {
      margin-right: 0;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-right: 30px;
    }
  
    .u-section-3 .u-text-8 {
      margin-right: 172px;
    }
  
    .u-section-3 .u-text-12 {
      margin-right: 244px;
      margin-left: 0;
    }
  
    .u-section-3 .u-line-2 {
      margin-left: 0;
    }
  
    .u-section-3 .u-text-13 {
      margin-left: 0;
      margin-right: 0;
      width: 720px;
    }
  
    .u-section-3 .u-line-3 {
      margin-top: -529px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-3 .u-line-4 {
      margin-top: 208px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-3 .u-line-5 {
      width: 720px;
      margin-top: 199px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 2228px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 195px;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 346px;
    }
  
    .u-section-3 .u-text-3 {
      width: 540px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-right: 10px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-right: 10px;
    }
  
    .u-section-3 .u-text-12 {
      margin-right: 64px;
    }
  
    .u-section-3 .u-text-13 {
      width: 540px;
    }
  
    .u-section-3 .u-line-3 {
      margin-top: -640px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-line-4 {
      margin-top: 237px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-line-5 {
      margin-top: 237px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 2772px;
    }
  
    .u-section-3 .u-text-1 {
      margin-top: 60px;
      margin-right: 0;
    }
  
    .u-section-3 .u-line-1 {
      width: 257px;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 146px;
    }
  
    .u-section-3 .u-text-3 {
      width: 340px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-3 .u-text-4 {
      margin-right: 0;
    }
  
    .u-section-3 .u-text-8 {
      margin-right: 0;
    }
  
    .u-section-3 .u-text-12 {
      margin-right: 0;
    }
  
    .u-section-3 .u-line-2 {
      width: 285px;
    }
  
    .u-section-3 .u-text-13 {
      width: 340px;
    }
  
    .u-section-3 .u-line-3 {
      margin-top: -877px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-line-4 {
      margin-top: 314px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-line-5 {
      margin-top: 321px;
      margin-bottom: 296px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  }.u-section-4 .u-sheet-1 {
    min-height: 1401px;
  }
  
  .u-section-4 .u-text-1 {
    font-family: "Public Sans";
    font-weight: 800;
    margin: 60px 760px 0 120px;
  }
  
  .u-section-4 .u-line-1 {
    width: 136px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 5px auto 0 120px;
  }
  
  .u-section-4 .u-text-2 {
    width: 900px;
    font-size: 1.25rem;
    margin: 30px auto 0;
  }
  
  .u-section-4 .u-text-3 {
    font-weight: bold;
    font-family: "Public Sans";
    margin: 105px 267px 0 120px;
  }
  
  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
    width: 900px;
    margin: 25px auto 0;
  }
  
  .u-section-4 .u-line-2 {
    height: 2px;
    transform-origin: left center 0px;
    width: 1000px;
    margin: 50px auto 0;
  }
  
  .u-section-4 .u-text-5 {
    font-family: "Public Sans";
    font-weight: bold;
    margin: 50px 558px 0 120px;
  }
  
  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
    width: 900px;
    margin: 25px auto 0;
  }
  
  .u-section-4 .u-line-3 {
    height: 2px;
    transform-origin: left center 0px;
    width: 1000px;
    margin: 50px auto 0;
  }
  
  .u-section-4 .u-text-7 {
    font-family: "Public Sans";
    font-weight: bold;
    margin: 50px 639px 0 120px;
  }
  
  .u-section-4 .u-text-8 {
    font-size: 1.125rem;
    width: 900px;
    margin: 25px auto 0;
  }
  
  .u-section-4 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 50px auto 60px 120px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-text-1 {
      margin-top: 99px;
      margin-right: 660px;
      margin-left: 20px;
    }
  
    .u-section-4 .u-line-1 {
      margin-left: 20px;
    }
  
    .u-section-4 .u-text-3 {
      margin-right: 167px;
      margin-left: 20px;
    }
  
    .u-section-4 .u-line-2 {
      width: 940px;
    }
  
    .u-section-4 .u-text-5 {
      margin-right: 458px;
      margin-left: 20px;
    }
  
    .u-section-4 .u-line-3 {
      width: 940px;
    }
  
    .u-section-4 .u-text-7 {
      margin-right: 539px;
      margin-left: 20px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-left: 20px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-text-1 {
      margin-right: 460px;
      margin-left: 0;
    }
  
    .u-section-4 .u-line-1 {
      margin-left: 0;
    }
  
    .u-section-4 .u-text-2 {
      width: 720px;
    }
  
    .u-section-4 .u-text-3 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-4 {
      width: 720px;
    }
  
    .u-section-4 .u-line-2 {
      width: 720px;
    }
  
    .u-section-4 .u-text-5 {
      margin-right: 258px;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-6 {
      width: 720px;
    }
  
    .u-section-4 .u-line-3 {
      width: 720px;
    }
  
    .u-section-4 .u-text-7 {
      margin-right: 339px;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-8 {
      width: 720px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-text-1 {
      margin-right: 280px;
    }
  
    .u-section-4 .u-text-2 {
      width: 540px;
    }
  
    .u-section-4 .u-text-4 {
      width: 540px;
    }
  
    .u-section-4 .u-line-2 {
      width: 540px;
    }
  
    .u-section-4 .u-text-5 {
      margin-right: 78px;
    }
  
    .u-section-4 .u-text-6 {
      width: 540px;
    }
  
    .u-section-4 .u-line-3 {
      width: 540px;
    }
  
    .u-section-4 .u-text-7 {
      margin-right: 159px;
    }
  
    .u-section-4 .u-text-8 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 2188px;
    }
  
    .u-section-4 .u-text-1 {
      margin-right: 80px;
    }
  
    .u-section-4 .u-line-1 {
      width: 183px;
    }
  
    .u-section-4 .u-text-2 {
      width: 340px;
    }
  
    .u-section-4 .u-text-4 {
      width: 340px;
    }
  
    .u-section-4 .u-line-2 {
      width: 340px;
    }
  
    .u-section-4 .u-text-5 {
      margin-right: 0;
    }
  
    .u-section-4 .u-text-6 {
      width: 340px;
    }
  
    .u-section-4 .u-line-3 {
      width: 340px;
    }
  
    .u-section-4 .u-text-7 {
      margin-right: 0;
    }
  
    .u-section-4 .u-text-8 {
      width: 340px;
    }
  }.u-section-5 .u-sheet-1 {
    min-height: 718px;
  }
  
  .u-section-5 .u-text-1 {
    font-family: "Public Sans";
    font-weight: 800;
    margin: 117px 845px 0 120px;
  }
  
  .u-section-5 .u-line-1 {
    width: 97px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 6px auto 0 120px;
  }
  
  .u-section-5 .u-line-2 {
    height: 2px;
    transform-origin: left center 0px;
    width: 1000px;
    margin: 133px auto 0;
  }
  
  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    font-weight: 700;
    width: 900px;
    margin: -74px auto 0;
  }
  
  .u-section-5 .u-line-3 {
    height: 2px;
    transform-origin: left center 0px;
    width: 1000px;
    margin: -266px auto 0;
  }
  
  .u-section-5 .u-line-4 {
    height: 2px;
    transform-origin: left center 0px;
    width: 1000px;
    margin: 99px auto 0;
  }
  
  .u-section-5 .u-line-5 {
    height: 2px;
    transform-origin: left center 0px;
    width: 1000px;
    margin: 92px auto 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-text-1 {
      margin-right: 745px;
      margin-left: 20px;
    }
  
    .u-section-5 .u-line-1 {
      margin-left: 20px;
    }
  
    .u-section-5 .u-line-2 {
      width: 940px;
    }
  
    .u-section-5 .u-line-3 {
      width: 940px;
    }
  
    .u-section-5 .u-line-4 {
      width: 940px;
    }
  
    .u-section-5 .u-line-5 {
      width: 940px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-text-1 {
      margin-top: 75px;
      margin-right: 545px;
      margin-left: 0;
    }
  
    .u-section-5 .u-line-1 {
      margin-top: 3px;
      margin-left: 0;
    }
  
    .u-section-5 .u-line-2 {
      width: 720px;
      margin-top: 136px;
    }
  
    .u-section-5 .u-text-2 {
      width: auto;
      margin-top: -69px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-5 .u-line-3 {
      margin-top: -312px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-5 .u-line-4 {
      margin-top: 92px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-5 .u-line-5 {
      width: 720px;
      margin-top: 140px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-text-1 {
      margin-right: 365px;
    }
  
    .u-section-5 .u-line-2 {
      width: 540px;
    }
  
    .u-section-5 .u-line-3 {
      margin-top: -362px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-5 .u-line-4 {
      margin-top: 142px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-5 .u-line-5 {
      width: 540px;
      margin-top: 145px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 921px;
    }
  
    .u-section-5 .u-text-1 {
      margin-right: 165px;
    }
  
    .u-section-5 .u-line-1 {
      width: 122px;
      margin-top: 4px;
    }
  
    .u-section-5 .u-line-2 {
      width: 340px;
      margin-top: 135px;
    }
  
    .u-section-5 .u-line-3 {
      margin-top: -499px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-5 .u-line-4 {
      margin-top: 182px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-5 .u-line-5 {
      margin-top: 193px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }